.header {
    display: flex;
    max-width: 100% !important;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    background: #fff;
    height: 30px;
    border-bottom: 1.5px solid #ddd; /* Borda fina e cinza */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .header-logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .search-form {
    display: none;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    display: none;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 5px;
  }
  
  .search-button {
    display: none;
    background-color: #2575fc;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #2575fc;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
    padding-right: 15px;
    padding-top: 10px;
  }
  
  .social-icons a {
    color: #000 !important;
    font-size: 20px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #2575fc !important;
  }
  