.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  text-align: center;
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  color: #fff;
  transition: all 0.3s linear;
  z-index: 999;
  overflow-y: auto;
}


.sidebar .user-info{
  background: #fff;;
  padding: 10px;
  margin-bottom: 0px;
}


.sidebar .user-info p{
  color: #000;
}

.sidebar .user-info h2{
color: #000;
}


.sidebar .user-info nav ul{
  padding: 0px;
}

.user-info nav ul li a{
  padding: 0px;
  color: #000 !important;
}

.user-info,
nav {
  position: relative;
  z-index: 1; /* Mantém o conteúdo acima do vídeo */
  color: white; /* Ajuste conforme necessário */
}

.user-avatar {
  border-radius: 50%;
  margin: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 15px;
}


.sidebar nav ul {
  list-style-type: none;
  padding: 15px;
  padding-top: 20px;
  margin: 0;
}

.sidebar nav ul li {
  margin: 25px 0;
  animation: fadeIn 0.6s ease-in-out both; /* Animação ao carregar */
}

.sidebar nav ul li:nth-child(odd) {
  animation-delay: 0.2s;
}

.sidebar nav ul li:nth-child(even) {
  animation-delay: 0.4s;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 15px 15px;
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
  
}

.sidebar nav ul li a:hover {
  transform: translateX(5px); /* Move ligeiramente para a direita */
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5); /* Adiciona sombra ao hover */
  background-color: #fff;
  color: #000;
}

.sidebar nav ul li.active a {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}


.sidebar .top a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  margin-top: 0px;
  padding: 15px 15px;
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.sidebar nav .top ul li a:hover {
  background-color: #810d0d !important; /* Fundo cinza claro no hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}



.social-media {
  margin-top: 10px;
}

.social-media ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 15px;
}

.social-media ul li a {
  color: #fff;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.social-media ul li a:hover {
  color: #ddd;
}



.user-info {
  text-align: center;
}

.profile-avatar {
  margin: 10px 0;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}


  .sidebar.collapsed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px !important;
    text-align: center;
    background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
    color: #fff;
    transition: all 0.3s linear;
    z-index: 999;
    overflow-y: auto;
}


.sidebar.collapsed + .content {
  width: calc(100% - 100px) !important;
  transition: width 0.3s ease-in-out;
}

.sidebar.collapsed{
 .social-media ul{
  display: none;
 }
 svg.icon{
 
    margin-right: 0px !important;
}
 }






/* Efeito de animação */
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}













