.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  width: 200px;
  text-align: left;
  background: #1359b9;
  color: #fff;
  transition: all 0.3s linear;
  z-index: 999;
  overflow-y: auto;
}

.sidebar p{
  color: #fff;
}


.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff; /* Título destacado */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); /* Sombra no título */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 15px;
  padding-top: 20px;
  margin: 0;
}

.sidebar nav ul li {
  margin: 25px 0;
  animation: fadeIn 0.6s ease-in-out both; /* Animação ao carregar */
}

.sidebar nav ul li:nth-child(odd) {
  animation-delay: 0.2s;
}

.sidebar nav ul li:nth-child(even) {
  animation-delay: 0.4s;
}

.sidebar nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255); /* Fundo leve */
}

.sidebar nav ul li a:hover {
  color: #000;
  background: linear-gradient(135deg, #fff 0%, #fff 100%);
  transform: translateX(5px); /* Move ligeiramente para a direita */
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.4); /* Adiciona sombra ao hover */
}

.sidebar .user-info{
  background: #1d4695;
  padding: 14px;
  margin-bottom: 10px;
}

/* Efeito de animação */
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
