.content {
  position: absolute;
  top: 0;
  right: 0;
  transition: width 0.3s linear;
  width: calc(100% - 200px);
  background-color: #F4F7FA;
  min-height: 100vh;
}



header{
  background-color: #2e2d2f; /* Cor do cabeçalho e rodapé */
  color: #ecf0f1; /* Cor do texto */
  padding: 10px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: -10px;
}

footer{
  background-color: #500000; /* Cor do cabeçalho e rodapé */
  padding: 30px;
  text-align: center;
  margin-top: 0px;
}


footer p{
  color: #fff;
}

button {
  background-color: #000000; /* Cor do botão */
  color: #ffffff; /* Cor do texto do botão */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9; /* Cor do botão ao passar o mouse */
}


/* styles.css ou Travels.css */
body {
  font-family: 'Montserrat', sans-serif; /* Define a fonte para todo o corpo */
  text-align: center; /* Centraliza o texto */
  margin: 0;
  padding: 0;
  color: #fff;
}



/* Estilos para a página de viagens */
.travels-container {
  font-family: 'Montserrat', sans-serif; /* Aplique aqui se quiser que apenas esta seção utilize a fonte */
}

.filters input,
.filters select,
.filters button {
  font-family: 'Montserrat', sans-serif; /* Aplique a fonte nos campos de entrada e botões */
}

.travel-item h3 {
  font-family: 'Montserrat', sans-serif; /* Aplique a fonte nos títulos das viagens */
}

.travel-item p {
  font-family: 'Montserrat', sans-serif; /* Aplique a mesma fonte nos parágrafos, se desejar */
}
